ion-icon{
    font-size: 210%;
}

.icon{
    font-size: 600%;
}

.label{
    font-size: 100%;
    font-weight: bold;
}

ion-toolbar{
    height: 100%;
    //background-color: #000000;
    display: flex;
    align-items: center;
}

ion-header{
    height: 30%;
}

ion-content {
    margin: 50%;
}

#idDiv{
    margin-top: 20%;
    margin-left: 5%;
    margin-bottom: 20%;
}
ion-avatar  {     
    width:300% !important;  
    height : 300% !important;  
   
    }