ion-icon {
  margin: auto;
  display: block;
  font-size: 1000%;
}

ion-button {
  --background-activated: #44dde9;
}
ion-content {
  --ion-background-color: #0cd1e8;
}
ion-card {
  --ion-background-color: #0cd1e8;
  text-align: center;
}
ion-item {
  --ion-background-color: #ffffff;
  width: 100%;
}
.links {
  font-size: 85%;
  color: #0cd1e8;
  width: 100%;
}
a {
  margin: 0%;
  width: 100%;
  text-align: center;
}
form {
  width: 100%;
}
.button {
  align-self: center;
  width: 80%;
}
.passwordIcon {
  font-size: 2rem !important;
  position: relative !important;
  top: 25px !important;
  margin: 0 auto !important;
}
.card {
  background: #ffffff;
  width: 80%;
  border-radius: 10px;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.small-top {
  margin-top: 8%;
}

.termsclass {
  font-size: 70%;
}
