.form{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 35%;
    text-align: right;
}
.out{
    display: flex;
    justify-content: center;
    align-items: center;  
}
.items{
    margin-top: 10%;
}

#header{
    font-size: large;
    font-weight: 700;
}
#count{
    font-size: small;
}
