.groupDescription{
    font-family: 'Times New Roman', Times, serif;
    font-size: 85%;
    color: gray;
    padding-bottom: 5%;
    margin-right: 3%;
}    

.idItem{
    padding-bottom: 5%;
    margin-right: 3%;
}

.idTotal{
    padding-right: 3%;
    text-align: right;   
}

.idItemTotal{
    width: 100%;
    padding: 3%;
    position: absolute;
    bottom: 2%;
}

ion-fab{
    vertical-align: bottom;
    bottom: 5%;
}

.button{
    text-align: right;
}