<ion-content>

  <!-- <img class="logo" src="assets/logo.png"><img> -->
  <ion-card class="card center">
    <ion-card-header>
      <ion-card-title><b>CREW</b></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="loginForm">
        <ion-item>
          <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input formControlName="email" required formControlName="email" placeholder="Email" type="text">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input formControlName="password" required formControlName="password" placeholder="Password"
            [type]="passwordType"></ion-input>
          <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
        </ion-item>
        <ion-button block (click)="loginEmail(loginForm.value)" class="button small-top" type="submit" shape="round"
          [disabled]="loginForm.invalid">
          Login with Email
        </ion-button>
        <ion-button block (click)="loginGoogle()" class="button" type="submit" shape="round">
          Login with Google
        </ion-button>
      </form>
      <ion-item lines="none" class="itemlinks">
        <a class="links" slot="end" routerLink="settings">Forgot your password?</a>
      </ion-item>
      <ion-item lines="none" class="itemlinks">
        <a class="links" slot="end" routerLink="register">Don't have an account?</a>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>