<ion-content class="center" color="primary">
  <div class="classdiv">

    <form>
      <ion-list class="backcolor">
        <ion-card>
          <img src="assets/login.jpg" />
          <ion-card-header color="light">
            <ion-card-title><b>LOGIN</b></ion-card-title>
          </ion-card-header>  
          <ion-card-content class="colorcard">
            <ion-item>
              <ion-label position="stacked">Email<ion-text color="danger">*</ion-text></ion-label>
              <ion-input type="text" [(ngModel)]="username" name="user" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Password<ion-text color="danger">*</ion-text></ion-label>
              <ion-input [type]="passwordType" [(ngModel)]="password" name="pass" required></ion-input>
              <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
            </ion-item>
            <div class="ion-padding">
                <ion-button expand="block"  class="ion-no-margin" (click)="loginWithEmail()"><b>Sing In</b></ion-button>
            </div>
            <div class="ion-padding">
              <ion-button expand="block"  class="ion-no-margin" (click)="loginWithGoogle()"><b>Sing In With Google</b></ion-button>
            </div>
            <ion-item lines="none">
              <a class="aclass"slot="end" routerLink="settings">Forgot your password?</a>
            </ion-item> 
          </ion-card-content>
        </ion-card>
      </ion-list> 
    </form>
  </div>
  <ion-item class="wrap" lines="none" color="primary">
    <a slot="end" routerLink="register">Don't have an account?</a>
  </ion-item>
</ion-content>