<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-button expand="block" (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-text id="header">Friends</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-toolbar>
      <ion-title>Search</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar (ionChange)="search($event)"></ion-searchbar>
    </ion-toolbar>
  </div>
  <div class="friends">
    <ion-list >
      <div *ngFor="let friend of friends; index as i">
        <ion-item *ngIf="friend">
          <ion-avatar class="image">
            <img src={{friend.imag}}>
          </ion-avatar>
          <ion-label>
            <h2>{{friend.name}}</h2>
          </ion-label>
          <ion-button shape="round" (click)="deleteFriend(i)">
            <ion-icon name="close" ></ion-icon>
          </ion-button>
        </ion-item>
      </div>
    </ion-list>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)='presentAlert()'>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
