<ion-content>
    <ion-card class="card-head">
        <label class="titles" for="cash">Cash</label>
        <ion-card class="cash">
            <label for="saldo">COP 100.000</label>
        </ion-card>
    </ion-card>
    <ion-card class="card">
        <label class="titles" for="cash">Estructura de Gastos</label>
        <label class="titles" for="cash">Toal COP 3.000</label>

    </ion-card>
    <ion-card class="card">
        <label class="titles" for="cash">Debito</label>
        <ion-card class="card-second" color="primary">
            <label for="saldo">COP 100.000</label>
        </ion-card>
        <ion-card class="card-second" color="primary">
            <label for="saldo">COP 100.000</label>
        </ion-card>
        <ion-card class="card-second" color="primary">
            <label for="saldo">COP 100.000</label>
        </ion-card>
    </ion-card>

</ion-content>